//-------------------------------------------------------------顏色---------//
// 定義顏色 此顏色可自由變換
$mainColor: #002e84; //主色
$secColor: #fdd100; //輔色
$lightColor: #fae101; //點綴
$linkColor: #00ffff; //連結
$importantColor: #e50012; //重要
$mainFontColor: #08111f; //一般字的顏色
$activeColor: #000;

//-------------------------------------------------------------字型--------//

// 字型設定
$arial: Arial, '微軟正黑體', 'Microsoft JhengHei', '蘋果儷中黑', 'Apple LiGothic Medium', sans-serif, '0xe804';
$poppins: 'Poppins', 'Noto Sans TC', Arial, '微軟正黑體', 'Microsoft JhengHei', '蘋果儷中黑', 'Apple LiGothic Medium', sans-serif, '0xe804';
$barlow: 'Barlow', 'Noto Sans TC', Arial, '微軟正黑體', 'Microsoft JhengHei', '蘋果儷中黑', 'Apple LiGothic Medium', sans-serif, '0xe804';
$khula: 'Khula', 'Noto Sans TC', Arial, '微軟正黑體', 'Microsoft JhengHei', '蘋果儷中黑', 'Apple LiGothic Medium', sans-serif, '0xe804';
$anton: 'Anton', 'Noto Sans TC', Arial, '微軟正黑體', 'Microsoft JhengHei', '蘋果儷中黑', 'Apple LiGothic Medium', sans-serif, '0xe804';
$khula: 'Encode Sans Semi Condensed', 'Noto Sans TC', Arial, '微軟正黑體', 'Microsoft JhengHei', '蘋果儷中黑', 'Apple LiGothic Medium', sans-serif, '0xe804';
$opensans: 'Open Sans', 'Noto Sans TC', Arial, '微軟正黑體', 'Microsoft JhengHei', '蘋果儷中黑', 'Apple LiGothic Medium', sans-serif, '0xe804';
$titillium: 'Titillium Web', 'Noto Sans TC', Arial, '微軟正黑體', 'Microsoft JhengHei', '蘋果儷中黑', 'Apple LiGothic Medium', sans-serif, '0xe804';
$roboto: 'Roboto', 'Noto Sans TC', Arial, '微軟正黑體', 'Microsoft JhengHei', '蘋果儷中黑', 'Apple LiGothic Medium', sans-serif, '0xe804';

//-------------------------------------------------------------版面------//

$mainFontSize: 16;
$fz13: 0.812rem;
$fz14: 0.875rem;
$fz15: 0.937rem;
$fz16: 1rem;
$fz18: 1.125rem;
$fz20: 1.25rem;
$fz21: 1.312rem;
$fz22: 1.375rem;
$fz23: 1.437rem;
$fz24: 1.5rem;
$fz26: 1.625rem;
$fz28: 1.75rem;
$fz30: 1.875rem;
$fz32: 2rem;
$fz36: 2.25rem;
$fz40: 2.5rem;
$fz43: 2.687rem;
$fz46: 2.875rem;
$fz48: 3rem;
$fz50: 3.125rem;
$fz54: 3.375rem;
$fz56: 3.5rem;
$fz60: 3.75rem;
$fz64: 4rem;
$fz66: 4.125rem;
$fz70: 4.375rem;
$fz72: 4.5rem;
$fz100: 6.25rem;
$fz140: 8.75rem;

$wrapperPaddingTop: 125px;
$wrapperPaddingTopMobile: 50px;
$headerTop: 45px;
$contentPadding: 20px;
$domWidth: 1480px;
$innerPage: 1350px;
